/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #414f5d;
  --color-font-light-base: #919ca7;
  --color-font-white: #ffffff;
  --color-bg-base: #f5f8f9;
  --color-bg-grey: #e0ebee;
  --color-bg-black: #414f5d;
  --color-bg-cta: linear-gradient(180deg, #82c1f5 0%, #4ed9d3 100%);
  --color-bg-light-blue: linear-gradient(180deg, #eef8fa 0%, #d3edf7 100%);
  --color-bg-green: linear-gradient(180deg, #e6f9fa 0%, #d6f4d8 100%);
  --color-bg-blue-green: linear-gradient(180deg, #d4f5d4 0%, #c4e8f9 100%);
  --color-logo: #19bbf0;
}
