@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-heading {
  display: inline-flex;
  column-gap: 12px;
  align-items: baseline;
  &.c-heading--right {
    flex-direction: column;
  }
  &.c-heading--center {
    flex-direction: column;
  }
}

.c-heading-en {
  font-family: var(--font-family-emphasis);
  @include g.sp {
    font-size: 32px;
  }
  @include g.pc {
    font-size: 42px;
  }
}

.c-heading-ja {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-font-light-base);
  .c-heading.c-heading--right & {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
    align-items: center;
    margin-top: -4px;
    @include g.sp {
      margin-top: 0;
    }
    &::before {
      display: inline-block;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--color-font-light-base);
    }
  }
  .c-heading.c-heading--center & {
    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 8px;
    align-items: center;
    @include g.sp {
      margin-top: -4px;
    }

    &::before,
    &::after {
      display: inline-block;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--color-font-light-base);
    }
  }
}
