@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
  @include g.sp {
    margin-block: 56px;
    overflow: hidden;
  }
  @include g.pc {
    position: relative;
    left: -70px;
    z-index: var(--z-index-default);
    padding-block: 64px;
    padding-left: 120px;
    margin-top: -80px;
    background-color: var(--color-bg-base);
  }
}

.top-news__heading {
  margin-bottom: 32px;
}

.top-news__list-wrapper {
  @include g.sp {
    padding-inline: 20px;
    margin-inline: -20px;
  }
  @include g.pc {
    display: grid;
    grid-template-columns: 1fr 100px;
    column-gap: 56px;
    align-items: center;
  }
}

.top-news__list {
  display: grid;
  grid-auto-columns: 85%;
  grid-auto-flow: column;
  @include g.sp {
    column-gap: 16px;
    padding-right: 40px;
  }
  @include g.pc {
    grid-auto-columns: auto;
    column-gap: 32px;
    padding-right: 0;
  }
}

.top-news__item {
  width: 100%;
}

.top-news__inner {
  display: block;
  text-decoration: none;
}

.top-news__thumbnail {
  img {
    width: 100%;
    height: auto;
  }
}

.top-news__content {
  display: grid;
  row-gap: 7px;
  margin-top: 12px;
  line-height: 1.5;
}

.top-news__category {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-font-light-base);
}

.top-news__date {
  grid-column: 2/3;
  justify-self: end;
  font-family: var(--font-family-emphasis);
  font-size: 14px;
  color: var(--color-font-light-base);
}

.top-news__title {
  grid-column: 1/3;
  font-weight: bold;
}

.top-news__button {
  margin-top: 32px;
  text-align: right;
}

.top-news__button-more.c-button {
  font-family: var(--font-family-emphasis);
  line-height: 1;
  @include g.pc {
    column-gap: 10px;
    width: 100px;
    aspect-ratio: 1;
    padding: 43px 18px;
    font-size: 14px;
  }
}
