@use "../global" as g;

/*!
foundation > base
------------------------------
*/
html {
  background-color: var(--color-bg-base);
}
body {
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-font-base);
  letter-spacing: 0.05em;
}
